* {
	margin:0;
	padding:0;
}
html {
			font-family: 'Oswald', Verdana, Arial,sans-serif;
			text-align: center;
			background-color: rgb(247,112,34);
			background-opacity: 0.2;
	}
article {
	column-count:2;
	width:200px;
	column-gap:4em;
	item-align:center;
}
.header { 
			font-weight: 500;
		 }
.list1 {
    		border: 1px rgb(185,63,8) solid;
    		border-radius: 15px;
    		padding: 10px;
    		font-weight: 300;
		color: #FFFFFF;
		list-style-position: inside;
		background-color: rgb(208,76,6);
		}
.list2 {
			border: 1px red dashed;
			border-radius: 15px;
			padding: 10px;
			list-style: none;
	}
a {
			text-decoration: none;
	}
img {
	border: 1em solid white;
	width: 100%;
}
figcaption {
	font-weight: 400;
}
h1, h2 {
	background-color: rgb(185,63,8);
}
.sentence {
	background-opacity: 1.0;
}
footer {
	background: rgb(100,0,100);
	text-align:center;
	padding: 20px;
]
#main {
}
figure {
	margin: 10px;
	padding-top:0;
	float: left;
}
